---
import Head from '../components/Head.astro'
import {SITE} from '../config.ts'
import {NAV_ITEMS} from '../config.ts'
const { content } = Astro.props
---
<html lang="en">
    <Head content={content} />
<body>
	<div id="wrapper">
		<header>
				<h1>{SITE.name}</h1>
		</header>
		<nav>
			<ul>
			{
				Object.keys(NAV_ITEMS).map(navItemKey => <li>
				<a href={NAV_ITEMS[navItemKey].path}>{NAV_ITEMS[navItemKey].title}</a></li>)
			}
			</ul>
		</nav>
		<main>
			<section>
                <p>{content.title}</p>
                <p>{content.description}</p>
                <p>My car is a {content.car}</p>
			<slot />
			</section>
		</main>
		<footer>
			<p>{SITE.footer}</p>
		</footer>
	</div>
</body>
</html>
